<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MiniMaxTimer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MiniMaxTimer.Properties.Settings>
            <setting name="WindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>400, 300</value>
            </setting>
            <setting name="hours" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="minutes" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="seconds" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sourceLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="sourceSize" serializeAs="String">
                <value>563, 660</value>
            </setting>
            <setting name="alwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fullscreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="font" serializeAs="String">
                <value>Segoe UI, 20pt</value>
            </setting>
            <setting name="endText" serializeAs="String">
                <value>Time's up!</value>
            </setting>
            <setting name="bgColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="fontColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="selectedscreen" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="displayHours" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="displayMinutes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="displaySeconds" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="soundPath" serializeAs="String">
                <value />
            </setting>
            <setting name="pauseFont" serializeAs="String">
                <value>Segoe UI, 20pt</value>
            </setting>
            <setting name="pauseBgColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="pauseColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="endFont" serializeAs="String">
                <value>Segoe UI, 20pt</value>
            </setting>
            <setting name="endBgColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="endColor" serializeAs="String">
                <value>Black</value>
            </setting>
        </MiniMaxTimer.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
