<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MiniMaxTimer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MiniMaxTimer.Properties.Settings>
            <setting name="WindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>400, 300</value>
            </setting>
            <setting name="hours" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="minutes" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="seconds" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sourceLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="sourceSize" serializeAs="String">
                <value>563, 660</value>
            </setting>
            <setting name="alwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fullscreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="font" serializeAs="String">
                <value>Microsoft Sans Serif</value>
            </setting>
            <setting name="endText" serializeAs="String">
                <value>Time's up!</value>
            </setting>
            <setting name="bgColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="fontColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="selectedscreen" serializeAs="String">
                <value>0</value>
            </setting>
        </MiniMaxTimer.Properties.Settings>
    </userSettings>
</configuration>